@model AgendaTelefonica.Models.Email

@{
    ViewData["Title"] = "Detalhes do E-mail";
}



<div>
    <h4 class="text-light">Detalhes do E-mail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.EnderecoEmail)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.EnderecoEmail)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Contato)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Contato.Nome)
        </dd>
    </dl>
</div>
<div class="form-group">
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.Id">Atualizar</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Voltar</a>
</div>
